@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: poppins;
}
img{
    width: 300px;
    height: 400px;
    border-radius: 50%;

}
.CustomBtn{
    @apply px-6 py-3 bg-gradient-to-r from-[#5001fb] to-[#8e0af3] rounded-md text-white font-semibold
}

